@import './Font.scss';
@import './Color.scss';

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}

a{
    text-decoration: none;
    color: #202020;
    letter-spacing: -1px;
    font-family: 'twayair';
}

input{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

button{
    border: none;
}